body
{
  background: linear-gradient(to right,red,blue);
}
h1{
    letter-spacing: 2px;
    color: BLACK;
    font-size: 3rem;
    font-family: 'Modak', cursive;

}
.update{
    margin-top: 58px;
    letter-spacing: 2px;
    font-size: 2rem;
}
@media only screen and (max-width: 400px)
{
   .update{font-size: 1.5rem;}
   h1{
       font-size: 2rem;
   }
   h2{
       font-size: 1.5rem;
   }
}
